@inherits DashboardClient.Components.Shared.SolarSourceCard

<Card>
	<CardBody>
		<CardTitle Size="5">Card title</CardTitle>
		<CardText>
			Some quick example text to build on the card title and make up the bulk of the card's content.
		</CardText>
		<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
	</CardBody>
</Card>