<Card>
	<CardBody>
		<CardTitle Size="5">Photovoltaik</CardTitle>
		<LineChart @ref="lineChart" TItem="double" />
		<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
	</CardBody>
</Card>