<Card>
	<CardBody>
		<CardTitle Size="5">Tesla</CardTitle>
		<DoughnutChart @ref="doughnutChart" TItem="int" hidden="@IsChartHidden"/>
		<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
	</CardBody>
</Card>