@inherits BaseSourceCard

<SourceCard TitleLeft="Pellets" TitleRight="@TimeStampSource">
	<LineChart @ref="lineChart" TItem="double" />

	<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
</SourceCard>