@inherits BaseSourceCard

<Card>
	<CardBody>
		<Row>
			<Column ColumnSize="ColumnSize.Is8">
				<CardTitle Size="5">Tesla</CardTitle>
			</Column>

			<Column ColumnSize="ColumnSize.Is4">
				<Text Alignment="TextAlignment.Right">@TimeStampSource</Text>
			</Column>
		</Row>

		<Row>
			<Column ColumnSize="ColumnSize.Is6">
				<Row>
					<Column style="background-color: red;">
						<svg width="100" height="50">
							<BatteryIconSVG ChargeLevel="@ChargeLevelPercent"/>
						</svg>
					</Column>
				</Row>
				<Row>
					<Column>
						<img src="images/temperature.png" width="40"/>
					</Column>
				</Row>
				<Row></Row>
			</Column>

			<Column ColumnSize="ColumnSize.Is6">
				<div id="bingMap" style='position:relative;width:100%;height:400px;'></div>
			</Column>
		</Row>
		
		<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
	</CardBody>
</Card>