@inherits BaseSourceCard

<SourceCard TitleLeft="WOD" TitleRight="@TimeStampSource">
	@((MarkupString)WodHtml)
	
	<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
</SourceCard>