@inherits BaseSourceCard

<SourceCard TitleLeft="Tesla" TitleRight="@TimeStampSource">
	<Row>
		<Column ColumnSize="ColumnSize.Is12">
			<DataItemOneCol>
				@((MarkupString)WodHtml)
			</DataItemOneCol>
		</Column>
	</Row>
	
	<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
</SourceCard>