@inherits BaseSourceCard

<SourceCard TitleLeft="WOD" TitleRight="@TimeStampSource">
	@((MarkupString)WodHtml)
	
	<Button Color="Color.Primary" @onclick="HandleRefreshClick">Refresh</Button>
	<Button Color="Color.Primary" @onclick="HandlePreviousClick">Previous</Button>
	<Button Color="Color.Primary" @onclick="HandleNextClick">Next</Button>
</SourceCard>