@inherits LayoutComponentBase

<Layout>
	<LayoutHeader style="z-index:1000;">
		
		<Bar Background="Background.Dark" ThemeContrast="ThemeContrast.Dark">
			<BarBrand>
				Krumelur's Dashboard
			</BarBrand>
		
			<BarEnd>
				<BarItem>
					<Button Color="Color.Primary">Options</Button>
				</BarItem>
			</BarEnd>
		</Bar>
	</LayoutHeader>

	<LayoutContent>
		@Body
	</LayoutContent>
</Layout>