@inherits LayoutComponentBase

<Layout>
	<LayoutHeader style="z-index:1000;">
		
		<Bar class="navbar-custom">
			<BarBrand style="color:#C0C6F2;">
				Krumelur's Dashboard
			</BarBrand>
		
			<BarEnd>
				<BarItem>
					<Button Color="Color.Primary">Options</Button>
				</BarItem>
			</BarEnd>
		</Bar>
	</LayoutHeader>

	<LayoutContent>
		@Body
	</LayoutContent>
</Layout>